@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700italic|Montserrat:700|Cardo:400);

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #344f66;
  transition: all .314s ease-in-out;
}

a:hover {
  color: #d8bc8e;
}

p {
  font-family: "Cardo", serif;
  font-size: 14px;
  color: #77736d;
  line-height: 24px;
  letter-spacing: .01em;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

form {
  margin: 40px auto;
  width: 100%;
  max-width: 600px;
}

input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 30px;
  border: 2px solid #d6d5d3;
  background-color: #f3f0ef;
  font-family: "Cardo", serif;
  padding: .618em;
  font-size: 16px;
  color: #bbb8b5;
  transition: all .314s ease-in-out;
}

input[type="radio"] {
  display: inline;
  width: auto;
  margin: 5px 0;
}

input[type="submit"] {
  display: block;
  width: 200px;
  margin: 0 auto;
  max-width: 600px;
  border: 2px solid #344f66;
  padding: 1em 2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #344f66;
}

label {
  display: block;
  color: #bbb8b5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

textarea {
  resize: vertical;
}

input:focus, textarea:focus {
  outline: 0;
  border: 2px solid #b3aea4;
  background-color: #ffffff;
  color: #344f66;
}

.attending {
  margin-bottom: 30px;
  overflow: auto;
}

.leftatt {
  float: left;
  width: 50%;
  text-align: center;
}

.rightatt {
  float: right;
  width: 50%;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(119,115,109,0.16);
  -moz-box-shadow: 0px 2px 6px 0px rgba(119,115,109,0.16);
  box-shadow: 0px 2px 6px 0px rgba(119,115,109,0.16);
}

nav a {
  font-size: 14px;
  padding: 15px;
}

img.circle {
  display: block;
  margin: 0 auto 20px;
  width: 80%;
  max-width: 300px;
}

.text {
  display: none;
}

.content {
  padding: 100px 0;
  background-color: #f3f0ef;
}

.invitation {
  text-align: center;
  margin-bottom: 100px;
}

.primary {
  color: #344f66;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 6px 0 10px;
}

p.center {
  text-align: center !important;
  margin: 0 auto;
}

.large {
  font-size: 36px;
  line-height: 36px;
}

p.large {
  font-size: 20px;
  line-height: 32px;
}

.secondary {
  color: #bbb8b5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.space-after {
  margin-bottom: 40px;
}

.fullscreen {
  width: 100%;
  height: auto;
  max-width: 1280px;
}

.container {
  float: none;
  overflow: auto;
  width: 80%;
  max-width: 940px;
  margin: 0 auto 40px;
}

.leftcol {
  float: left;
  width: 360px;
}

.rightcol {
  float: right;
  width: 360px;
}

.fullcol {
  float: none;
  width: 600px;
  margin: 50px auto 0;
}

.leftcol p, .rightcol p, .fullcol p {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  margin-bottom: 1em;
}

@media (max-width: 960px) {
  .leftcol, .rightcol, .fullcol {
    float: none;
    margin: 0 auto 100px;
    width: 100%;
    max-width: 480px;
  }
}


.section-header {
  padding: 50px 0;
}

.section-header img {
  display: block;
  margin: 20px auto -60px;
  max-width: 80%;
}

.section-header h1 {
  color: #344f66;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 68px;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}

.map {
  display: block;
  border: 5px solid #fff;
  width: 80%;
  max-width: 940px;
  margin: 0 auto;
}

.col img {
  float: left;
  width: 30%;
  padding: 1.5%;
}

.rsvp-form {
  display: block;
  margin: 0 auto 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #344f66;
}
